snippet des "describe" b!
describe "${1:thing}" do
  $0${VISUAL}
end
endsnippet

snippet dest "describe Type" b!
describe ${1:Thing} do
  $0${VISUAL}
end
endsnippet

snippet it "it" b!
it "${1:can}" do
  $0${VISUAL}
end
endsnippet

snippet bef "before" b!
before do
  $0${VISUAL}
end
endsnippet

snippet let "let(:var) { }"
let(:${1:var}) { $0${VISUAL} }
endsnippet
